.available-rooms-list, .filtered-list {
	padding: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	width: 100%;
}

.available-rooms-to-book {
	@include info-card-box(10px);
	width: 100%;
}

.try-again {
	@include button();
	width: 15%;
	margin-top: 20px;
}

.reserve {
	@include button();
	margin-top: 20px;
	width: 50%;
}