header {
	display: flex;
	justify-content: space-between;
	background-color: $black;
	height: 90px;
	opacity: 80%;
	color: $sand;
}

h1 {
	@include header-font(60px);
	margin-top: 5px;
	margin-left: 30px;
}

h2 {
	margin-top: 40px;
	margin-right: 10px;
}