// all users
header {
	display: flex;
	justify-content: space-between;
	background-color: $black;
	height: 145px;
	opacity: 80%;
	color: $sand;
}

h1 {
	@include header-font(74px);
	margin-top: 15px;
	margin-left: 30px;
}

.log-out {
	height: 25px;
	background-color: $sand;
	color: $black;
	border: none;
	border-radius: 3px;
	opacity: 80%;
}

// welcome message container
div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 15px;
}

.name-display {
	@include header-font(40px);
	color: $sand;
}

// customer views only
.total-spent {
	@include header-font(20px);
}