.name-display {
	@include header-font(40px);
	color: $sand;
}

h3 {
	@include header-font(20px);
}

.customer-wrapper {
	@include section-wrapper;
}

.customer-book-new {
	@include book-room-box;
	grid-area: 1 / 1 / 2 / 4;
}

.section-header {
	@include header-font(40px);
	grid-area: 2 / 1 / 3 / 4;
	justify-self: center;
}

.customer-bookings {
	@include info-card-box(10px);
	width: 100%;
}

.availability-button {
	@include button();
}
