.name-display {
	@include header-font(40px);
	color: $sand;
}

h3 {
	@include header-font(20px);
}

.customer-nav {
	@include section-wrapper;
}

.customer-book-new {
	@include book-room-box;
	grid-area: 1 / 1 / 2 / 4;
}

.available-rooms-nav {
	display: grid;
	grid-area: 1 / 1 / 2 / 4;
	justify-items: center;
}

.filter-header {
	@include header-font(40px);
}

.filter-buttons {
	display: grid;
	.filter-button {
		height: 25px;
		background-color: $sand;
		color: $black;
		border: none;
		border-radius: 3px;
		opacity: 80%;
		margin: 2px;
		width: 100%;
		&:focus {
		background-color: $black;
		color: $sand;
		}
	}
}

.available-rooms-header {
	@include header-font(40px);
}

.section-header {
	@include header-font(40px);
	grid-area: 2 / 1 / 3 / 4;
	justify-self: center;
}

.customer-bookings-list {
	padding: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	width: 100%;
}

.customer-bookings {
	@include info-card-box(10px);
	width: 100%;
}

.availability-button {
	@include button();
}

.apology, .success {
	@include confirmation-display();
}