.login-wrapper {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20%;
	margin-top: -20%;
	width: 40%;
	background-color: $sand;
	opacity: 80%;
	border-radius: 10px;
}

.login-section, .login-header, .login-form, .input-field {
	color: $black;
}

.login-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	width: 60%;
}

.login-header {
	@include header-font(38px);
	margin-top: 30px;
}

label {
	font-size: 12px;
}

.login-error-message {
 	color: $black;
 	font-weight: bold;
}

.login-form {
	margin: 10px;
	color: $black;
	display: flex;
	flex-direction: column;
}

.input-field {
	height: 25px;
	margin-bottom: 10px;
	border: none;
	background: transparent;
	border-bottom: $black solid 1px;
}

.login-button {
	height: 25px;
	background-color: $black;
	color: $sand;
	border: none;
	border-radius: 3px;
}