.manager-wrapper {
	padding: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.daily-stats {
	@include book-room-box;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 50%;
}

.daily-stats-heading {
	@include header-font(40px);
	color: $black;
	margin-bottom: 30px;
}

.search-form {
	@include form;
	@include info-card-box(10px);
	grid-row-start: 2;
	grid-row-end: 3;
	width: 30%;
	align-items: center;
	align-self: center;
	padding: 20px;
}

.search-label {
	font-size: 12px;
}

.search-button {
	@include button;
	width: 50%;
}

.search-error-message {
	@include error;
}

.section-header {
	@include header-font(40px);
	grid-area: 2 / 1 / 3 / 4;
	justify-self: center;
}

.search-results {
	margin-top: -70px;
	padding: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: .5fr .2fr .5fr;
	justify-items: center;
	width: 100%;
}

.customer-match-details {
	@include book-room-box;
	grid-area: 1 / 1 / 2 / 4;
	
}

.booked-header {
	grid-area: 2 / 1 / 3 / 4
}

.manager-book-new-label {
	@include header-font(40px);
	margin-top: 50px;
}

.customer-match-name {
	@include header-font(40px)
}

.past-customer-bookings {
	@include book-room-box;
	width: 100%;
}

.future-customer-bookings {
	@include book-room-box;
	width: 100%;
}

.delete {
	@include button();
	margin-top: 10px;
}

.delete-confirmation {
	@include confirmation-display();
}