.manager-wrapper {
	@include section-wrapper;
}

.daily-stats {
	@include book-room-box;
	grid-area: 1 / 2 / 2 / 3;
}

.card-header {
	@include header-font(28px);
}

.daily-stats-heading {
	color: $black;
	margin-bottom: 30px;
}

.search-form {
	@include form;
	@include info-card-box(10px);
	grid-area: 2 / 2 / 3 / 3;
	width: 100%;
	align-items: center;
	align-self: center;
	padding: 20px;
}

.search-button {
	@include button;
	width: 50%;
}