// colors
$sand: #D6D3D2;
$black: #1A1A1A;

// fonts
$main-font: Verdana, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

// mixins

@mixin header-font($font-size) {
  font-family: 'Dancing Script', cursive;
  font-size: $font-size;
}

@mixin info-card-box($border-radius) {
	background-color: $sand;
	opacity: 80%;
	border-radius: $border-radius
}

@mixin button() {
	height: 25px;
	background-color: $black;
	color: $sand;
	border: none;
	border-radius: 3px;
}

@mixin book-room-box() {
	@include info-card-box(10px);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;

	.book-new-label {
		@include header-font(40px);
	}

	.calendar {
		background-color: $sand;
		font-family: $main-font;
		border: none;
		padding: 20px;
	}

	button {
		@include button;
	}
}

@mixin section-wrapper() {
	padding: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr .5fr 1fr;
	justify-items: center;
	width: 100%;
}

@mixin input-field() {
	height: 25px;
	margin-bottom: 10px;
	border: none;
	background: transparent;
	border-bottom: $black solid 1px;
}

@mixin form() {
	margin: 10px;
	color: $black;
	display: flex;
	flex-direction: column;
}
