@import 'variables';
@import 'login';
@import 'banner';
@import 'customer';
@import 'manager';

* {
	box-sizing: border-box;
	margin: 0;
	font-family: $main-font;
}

html {
	background: url('../images/black-tables-on-beach.jpg');
	background-size: cover;
	height: 100%;
}

.hidden {
	display: none;
}
