@import 'variables';

@import 'availableRooms';
@import 'banner';
@import 'customer';
@import 'login';
@import 'manager';

* {
	box-sizing: border-box;
	margin: 0;
	font-family: $main-font;
}

html {
	background: url('../images/black-tables-on-beach.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

.card-header {
	@include header-font(32px);
}

.hidden {
	display: none;
}

.input-field {
	@include input-field;
}